# Python virtual environment
venv/
env/
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Data and Models (Usually too big for GitHub)
*.pkl
*.csv
*.xlsx
data/
.ipynb_checkpoints
*.ipynb_checkpoints

# Environment variables (for security)
.env

#kaggle 
.kaggle/
kaggle.json